#header {
  background-color: aqua;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  display: inline;
}
@media screen and (max-width: 568px) {
  body {
    background-color: blue;
  }
}
.flexbox {
  display: flex;
}
img {
  widows: 120px;
  height: 120px;
}
